@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
/* line 12, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-nav > li > a {
  font-size: 1.4rem;
  color: #fff !important;
  padding-top: 45px;
  padding-left: 50px;
  padding-bottom: 15px;
  text-transform: uppercase; }

/* line 21, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a {
  color: #fff;
  background-color: transparent !important; }

/* line 26, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
  background-image: none !important;
  background-repeat: no-repeat !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

/* line 33, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: transparent !important; }

/* line 38, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar {
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

/* line 44, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-inverse {
  background-color: #490666 !important;
  background-image: none !important; }

/* line 49, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.navbar-nav {
  float: right !important;
  margin: 0; }

/* line 54, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
body {
  background-image: url("/img/dots.png") !important;
  background-position: top left;
  background-repeat: repeat;
  background-color: #622874;
  font: 100% "Open Sans", sans-serif; }

/* line 62, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.logo {
  background: #fff;
  margin-top: 2.3%;
  margin-left: -15px;
  padding: 1rem;
  position: absolute;
  width: 8%; }

/* line 71, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.logo img {
  display: inline-block;
  width: 100%; }

/* line 76, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.intro h1 {
  text-align: left;
  line-height: 90%;
  margin-top: 13rem;
  margin-left: 95px;
  font-size: 10rem;
  letter-spacing: -7px; }

/* line 85, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff; }

/* line 91, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.intro h2 {
  margin: 35px 0 20px 95px;
  background: #490666;
  color: #fff;
  width: 33%;
  padding: 20px 20px 23px 30px; }

/* line 99, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.text-orange {
  color: #FF8300; }

/* line 101, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.hillustrationlogo {
  margin-top: 2rem;
  margin-left: 98px;
  display: inline-block;
  width: 350px; }

/* line 108, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.hillustrationlogo img {
  width: 100%; }

/* line 112, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.start {
  background: #fff;
  width: 100%;
  margin-top: 27rem;
  min-height: 400px;
  text-align: center;
  padding: 8rem 0; }

/* line 121, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.start h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #622874;
  margin-top: -25px;
  letter-spacing: -1px; }

/* line 130, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.start p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #666666;
  line-height: 150%;
  text-align: justify;
  padding: 3rem 18rem; }

/* line 140, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
a.btn:visited {
  background: #fff;
  border: 0;
  color: #FF8300; }

/* line 146, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
a.btn:hover {
  background: #FF8300;
  color: #fff;
  border: 0; }

/* line 152, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
a.btn:active {
  background: #fff;
  border: 0; }

/* line 157, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.btn {
  border: 0 !important;
  background: #fff !important;
  background-image: none !important; }

/* line 163, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.btn-info {
  border: 0 !important;
  background: #fff !important;
  background-image: none !important;
  font-size: 25px;
  font-weight: bold;
  color: #FF8300; }

/* line 172, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.btn-info:hover {
  border: 0 !important;
  background: #fff !important;
  background-image: none !important;
  font-size: 25px;
  font-weight: bold;
  color: #622874; }

/* line 181, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.btn-default {
  text-shadow: none;
  background-image: none !important;
  filter: none !important;
  background-repeat: no-repeat;
  border-color: none !important;
  color: #FF8300;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none !important;
  margin: -35px auto 25px auto; }

/* line 194, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.btn-circle-lg {
  color: #FF8300;
  background: #fff !important;
  background-image: none !important;
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px; }

/* line 207, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.aboutus {
  clear: both;
  margin-top: 5rem; }

/* line 209, /Users/mikehill/Dropbox/new hillustration site/css/styles.scss */
.down {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%; }

/*# sourceMappingURL=styles.css.map */